<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hobby Jockey: home Page</title>
    <meta name="description" content="hobby Jockey is the Rc-adventure store for rc jockey and enthusiast, selling all kind of rc piloted veehicles, drones, boats, cars, submarines, helicopters and more ">
    <meta name="keywords" content=" hobby jockey store drone boats cars submarines Toys plane hobby lobby">
    <meta name="author" content="Thomas Azaria">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

  
    <section class="sectionOne">

      <app-CustomCarousel></app-CustomCarousel>
    </section>
    
    <div class="PageOneFooter">
      <div class="shipping">

      </div>
    </div>
    
     
    <section class="sectionTwo">
      <div>
        <img routerLink="preview" src="https://ae01.alicdn.com/kf/HTB1YoiYX8Gw3KVjSZFDq6xWEpXa5.jpg?width=800&height=800&hash=1600" alt="">
      </div>
      <div>
        <img routerLink="preview" src="https://ae01.alicdn.com/kf/HTB1i7iRX.GF3KVjSZFoq6zmpFXaw.jpg?width=1000&height=1046&hash=2046" alt="">
      </div>
      <div>
        <img src="https://ae01.alicdn.com/kf/HTB1UomYX8Gw3KVjSZFDq6xWEpXa5.jpg?width=1000&height=1004&hash=2004" alt="">
      </div>
      <div>
        <img src="https://ae01.alicdn.com/kf/HTB1pK9SX8iE3KVjSZFMq6zQhVXaQ.jpg?width=1000&height=852&hash=1852" alt="">
      </div>
    </section>
    
    <!-- <section class="sectionThree" style="  position:relative;">
      <div style=" position: relative;top: 10%; height: 80%;  padding: 0 5%  ">
          <div style=" position:relative;height: 100%; background-color: rgb(255, 255, 255);
            background-image: url('https://images.pexels.com/photos/1619654/pexels-photo-1619654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-position-y: 40%;
            background-repeat: no-repeat;
            background-size: cover;
          
          ">
           
          <p style="position: absolute; top: 0; right: 50px;; color: white; font-size: 25px">
    
            DRONES SPOTLIGHT 
    
          </p>
          </div>
      </div>
    </section> -->
</body>
</html>



