<div class="footerContainer">
  <ul class="footerContainer__nav">
    <div class="footerContainer__nav-heading">
      <div >
        <li><a>CUSTOMER SERVICE</a></li>
        <div class="footerContainer__nav-items" >
            <li ><a routerLink="help" >contact us</a></li>
            <li><a >review</a></li>
            <li><a >feedback</a></li>
            <li><a >feedback</a></li>
        </div>
      </div> 

      <div>
        <li><a>CATELOUGE</a></li>
        <div class="footerContainer__nav-items" >
            <li><a >contact us</a></li>
            <li><a >review</a></li>
            <li><a >feedback</a></li>
            <li><a >feedback</a></li>
        </div>
      </div>

      <div>
          <li><a>CATELOUGE</a></li>
          <div class="footerContainer__nav-items" >
              <li><a >contact us</a></li>
              <li><a >review</a></li>
              <li><a >feedback</a></li>
          </div>
        </div>

        <div>
            <li><a>SHIPPING & HANDELING</a></li>
            <div class="footerContainer__nav-items" >
                <li><a >contact us</a></li>
                <li><a >review</a></li>
                <li><a >feedback</a></li>
                <li><a >feedback</a></li>
            </div>
        </div>


        <div>
            <li><a>DEALS</a></li>
            <div class="footerContainer__nav-items" >
                <li><a >contact us</a></li>
                <li><a >review</a></li>
                <li><a >feedback</a></li>
                <li><a >feedback</a></li>
            </div>
          </div>
      
    </div>
  </ul>


<br>
<br>
  <hr >
  <div class="footerContainer__author">
    <p> Designed by Thomas Azaria</p>
  </div>
</div>



<!-- <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul> -->