<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hobby Jockey: store</title>
    <meta name="description" content=" Rc adventure, get the latest in RC vehciles, buy online now, free shipping and delivery of quality products ">
    <meta name="keywords" content=" hobby store, rc toys Rc drone Rc boats Rc helicopter  ">
    <meta name="author" content="Thomas Azaria">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="myStoreContainer">
  
        <section class="myStoreContainer__category">
          <ul>
            <li><a routerLink="category4">Flying RC</a></li>
            <li><a routerLink="Water_sports">Water Sports</a></li>
            <li><a routerLink="drones">Drones</a></li>
            <li><a routerLink="RC_Cars">Ground Vehicle</a></li>
          </ul>
      
        </section>
        
        
        <section class="myStoreContainer__outlet">
            <router-outlet></router-outlet>
        </section>
      
      
      </div>
</body>
</html>


