ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000000b6;
    height: 100vh;
    padding: 0 4.5%;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }